.feature-toolbar {
    margin: 1rem 0;
    background: #ccc;
}

.scenario-container {
    border-bottom: 3px solid #ccc;
}

.content-editable {
    display: inline-block;
    min-width: 300px;
    border-bottom: 1px dashed #ccc;
}